/* Global */

/* Classes */
.form {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-left: 24px;
}

.qrs {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.data {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.misc {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
}

/* Class Elements */
.submit button {
    height: 48px;
    width: 96px;
}